<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DanishQ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="block" (click)="scheduleNotification()">Schedule</ion-button>
  <ion-button expand="block" (click)="recurringNotification()">Every Minute</ion-button>
  <ion-button expand="block" (click)="repeatingDaily()">Daily</ion-button>
  <ion-button expand="block" (click)="usingColorBackground()">Color Background</ion-button>
  <ion-button expand="block" (click)="usingImageBackground()">Image Background</ion-button>
  <ion-button expand="block" (click)="progressBar()">ProgressBar</ion-button>
  <ion-button expand="block" (click)="buttonsYesNo()">Buttons Yes No</ion-button>
  <ion-button expand="block" (click)="vibrate()">Vibrate</ion-button>
  <ion-button expand="block" (click)="summarizing()">Summarizing</ion-button>
  <ion-button expand="block" (click)="grouping()">Grouping</ion-button>
  <ion-button expand="block" (click)="led()">Led</ion-button>
  <ion-button expand="block" (click)="lockscreen()">Lock Screen</ion-button>
  <ion-button expand="block" (click)="sticky()">Sticky</ion-button>
  <ion-button expand="block" (click)="removeSticky()">Remove Sticky</ion-button>
  <ion-button expand="block" (click)="wakeup()">Wakeup</ion-button>
  <ion-button expand="block" (click)="launch()">Launch</ion-button>
  <ion-button expand="block" (click)="silent()">Silent</ion-button>
  <ion-button expand="block" (click)="sound()">Sound</ion-button>
  <ion-button expand="block" (click)="badge()">Badge</ion-button>
  <ion-button expand="block" (click)="foreground()">Foreground</ion-button>
  <ion-button expand="block" (click)="getAll()">Get All</ion-button>

  <ion-list>
    <ion-item *ngFor="let n of scheduled">
      <ion-label text-wrap>
        {{ n.id }} - {{ n.title }}
        <p>Trigger: {{ n.trigger | json }} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
